.buscador{
    text-align: center;
}

.contenedor__hoja{
    width: 800px;

}
.buscador__contenedor{
    width: 600px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.contLetreros{
    word-spacing: 12px;
}

 p{

font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contletrero{
    font-size: 7px;
}

.letreros p{
    font-size: 10px;
}

#letreros{
    display: grid; 
    grid-auto-rows: 40px; 
    grid-template-columns: 400px 80px 50px 50px 60px 50px 50px; 
    grid-template-rows: 30px 1fr 20px 20px 20px 20px; 
    gap: 5px 0%;  
}

.letrero{
    grid-column: 1/2;
    grid-row: 1/2;
}
.material{
    grid-column: 2/3;
    grid-row: 1/2;
}
.ancho{
    grid-column: 3/4;
    grid-row: 1/2;
}
.alto{
    grid-column: 4/5;
    grid-row: 1/2;
}
.precioletrero{
    grid-column: 5/6;
    grid-row: 1/2;
}
.cantidad{
    grid-column: 6/7;
    grid-row: 1/2;
}

.precio{
    grid-column: 7/8;
    grid-row: 1/2;
}
.contLetreros{
    display: grid; 
    grid-auto-rows: 20px; 
    grid-template-columns: 400px 80px 50px 50px 60px 50px 50px;
    grid-column: 1/8;
    grid-row: 2/3;
}
.letrerosTotal{
    grid-column: 5/6;
    grid-row: 3/4;
}


@media (max-width: 1024px) {
.buscador__contenedor{
        width: 300px;
        height: 200px;
        padding-bottom: 3px;
        padding-top: 3px;
}
}